registry=https://pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/

always-auth=true

save-exact=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 27/01/2020.

; begin auth token

//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:username=albatross-getnet

//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:_password='eDJpZ3hhem1zeXp0dWQ3NjdrYXBkYmlrZzN5aXFwbGVhcnE3c2x3cTRmM2pmbmlmeXljYQ=='

//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:email=npm requires email to be set but doesn't use the value
//eDJpZ3hhem1zeXp0dWQ3NjdrYXBkYmlrZzN5aXFwbGVhcnE3c2x3cTRmM2pmbmlmeXljYQ==
//a3lkc3p4bXlqcW93YTY2YnltNnQyZ2FuZTRscGFrcHJkcGVuYmh4NXN0dnhmanRkbWVkYQ==